@using EntityLayer.Concrete
@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h4 class="card-header">Müşteriler</h4>
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th>Müşteri No</th>
                <th>Ad Soyad</th>
                <th>Kullanıcı Adı</th>
                <th>E-Posta Adresi</th>
                <th>Telefon Numarası</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var item in Model)
            {
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Id</strong></td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.UserName</td>
                    <td><span class="badge bg-label-primary me-1">@item.Email</span></td>
                    @if(@item.PhoneNumber == null)
                    {
                        <td><span class="badge bg-label-primary me-1">-</span></td>
                    }
                    else
                    {
                        <td><span class="badge bg-label-primary me-1">@item.PhoneNumber</span></td>

                    }
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Admin/User/DeleteUser/@item.Id"><i class="bx bx-trash me-1"></i>Müşteriyi Sil</a>
                                <a class="dropdown-item" href="/Admin/User/ReservationUser/@item.Id"><i class="bx bx-check me-1"></i>Müşterinin Onaylanan Rezervasyonları</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<a href="/Login/SignUp/" class="btn btn-outline-primary">Yeni Müşteri Oluştur</a>

