@model VisitorViewModel
@{
    ViewData["Title"] = "EditVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>API ile Ziyaretçi Düzenleme</h1>
<form method="post">
    <input type ="hidden" asp-for="VisitorID" />
    <div class="form-group">
        @Html.Label("Ziyaretçi Adı: ")
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Ziyaretçi Soyadı: ")
        <input type="text" asp-for="Surname" class="form-control" required />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Ziyaretçi Şehri: ")
        <input type="text" asp-for="City" class="form-control" required />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Ziyaretçi Ülke: ")
        <input type="text" asp-for="Country" class="form-control" required />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Ziyaretçi E-posta Adresi: ")
        <input type="text" asp-for="Email" class="form-control" required />
    </div>
    <br />
    <button class="btn btn-outline-primary" onclick="alert('Ziyaretçi kaydı API üzerinden başarıyla düzenlendi!');">API ile ziyaretçiyi düzenle</button>
</form>


