@model EntityLayer.Concrete.Feature1
@{
    ViewData["Title"] = "EditImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Öne Çıkan Görseli Düzenleme</h1>
<form method="post">
    @Html.HiddenFor(x => x.Feature1ID)
    <div class="form-group">
        @Html.Label("Başlık: ")
        <input type="text" asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama: ")
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = 5, @cols = 30 })
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Görsel Bağlantısı: ")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-primary" onclick="alert('Öne çıkan görsel başarıyla güncellendi')">Öne Çıkan Görseli Düzenle</button>
</form>

