@model DTOLayer.DTOs.MemberDTOs.UserEditDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenleme</h1>
<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız: ")
    <input type="text" asp-for="Name" class="form-control" required />
    <br />
    @Html.Label("Soyadınız: ")
    <input type="text" asp-for="Surname" class="form-control" required/>
    <br />
    @Html.Label("E-posta Adresiniz: ")
    <input type="text" asp-for="Email" class="form-control" required/>
    <br />
    @Html.Label("Telefon Numarası: ")
    <input type="tel" asp-for="PhoneNumber" class="form-control" />
    <br />
    <div class="form-group col-auto">
        @if(Model.ImageURL != null)
        {
            <div class="avatar avatar-xl position-relative">
                <img src="/UserImages/@Model.ImageURL" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
        }
        else
        {
            <p>Profil Fotoğrafı Yok</p>
        }
        <label>Profil Görseli Seçin: </label>
        <input type="file" asp-for="ImageFile" />
    </div>
    <a href="/Member/Profile/RemoveProfileImage" class="btn btn-sm btn-outline-dark">Profili Görselini Kaldır</a>
    <br />
    @Html.Label("Parolanız: ")
    <input type="password" asp-for="Password" class="form-control" required/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br />
    @Html.Label("Parola tekrar girin: ")
    <input type="password" asp-for="ConfirmPassword" class="form-control" required/>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <br />
    <button class="btn btn-success");">Profili Kaydet</button>
</form>

