@model List<EntityLayer.Concrete.Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Index</h1>
<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h3 class="sub-title">Tecrübeleriyle sizlere harika bir tatil deneyimi yaşatacak tur rehberlerimizle tanışın!</h3>
                <h4 class="hny-title">Ekibimiz</h4>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    if(item.Status == true)
                    {
                        <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                            <div class="box16 post-content">
                                <a><img src="@item.Image" alt="" class="img-fluid imgX" /></a>
                                <div class="box-content">
                                    <h3 class="title"><a href="#url">@item.GuideName</a></h3>
                                    <span class="post">@item.Description</span>
                                    <ul class="social">
                                        <li>
                                            <a href="@item.FacebookURL " target="_blank">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@item.InstagramURL" target="_blank">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<style>
    .post-content {
        display: flex; /* Flexbox'ı etkinleştirir */
        justify-content: center; /* İçeriği yatayda ortalar */
        align-items: center; /* İçeriği dikeyde ortalar (gerekirse) */
        height: 100%; /* Gereksinimlerinize göre ayarlayın */
        text-align: center; /* İçerik metinlerini ortalar */
    }

    imgX {
        max-width: 100%; /* Görselin genişliğini kapsayıcının genişliği ile sınırlandırır */
        max-height: 400px; /* Görselin yüksekliğini sabit bir değere sınırlar */
        width: auto; /* Genişlik, yükseklikteki orana göre ayarlanır */
        height: auto; /* Yükseklik, genişlikteki orana göre ayarlanır */
        object-fit: cover; /* Görseli kapsayıcıya uygun şekilde kırpar ve doldurur */
    }
</style>